@charset "ISO-8859-1";
body{
    align-content: center;
	background-color: #666666;
}
form{
    width: 200px;
}
.row{
    padding: 5px;
}
table{
    padding:5px;
}
th{
    text-align: center;
    font-weight: bold;
    color: #21214d 
}
#logouts{
    padding: 5px;
    margin: 5 px;
}
#id{
	align-content: center;
}
.eRow{
    padding: 5px;
    border-bottom: solid #333333 2px;
}
